div{
    width: 100px;
    height: 100px;
    background-color: MediumSeaGreen;
    border-radius: 50%;
    position: fixed;
    top: 150px;
    left: 250px;
}

#div {
    width: 100px;
    height: 100px;
    background-color: Green;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    right: 100px;
}